<!DOCTYPE html>
<html>
<head>
  <title>Mycontact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!-- navbar  -->
  <%= render 'navbar' %>
  
  <!-- content  -->
  <div class="container">
    <div class="row">
      
      <!-- sidebar  -->
      <%= render 'sidebar' %>
      
      <!-- Contacts  -->
      <div class="col-md-9">
        <% flash.each do |type, message| %>
          <%= content_tag :div, class: "alert alert-#{type} alert-dismissible", role: "alert" do %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          <% end %>
        <% end %>
          
        <%= yield %>
        
      </div>
      
    </div>
  </div>



</body>
</html>
